In [ ]:
import test_naive_search_Novelty

args2 = ['--encoder', 'cl', '--benchmark', 'santos', 
        '--augment_op', 'drop_col','--sample_meth', 'tfidf_entity',
        '--matching', 'exact',   '--table_order', 'column',
        '--run_id', '0' ,   '--K','10' , '--threshold', '0.7', '--penalty', '0']

test_naive_search_Novelty.main(args2)

50
Number of queries: 50
data/santos/datalake
550
From 550 total data-lake tables, scale down to 550 tables